.hero {
	background-image: url("../../assets/henrix_calm_with_a_rock_backgorund_6f20c016-7750-4a8b-bf70-f39bb0e75ba0.png");
	background-size: cover;
	background-position: center;
}

.hero::after {
	content: "";
	position: absolute;
	width: 100%;
	top: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.13);
	z-index: 1;
}

.cercle {
	position: absolute;
	width: 600px;
	height: 600px;
	background: #fffdd0;
	border-radius: 100%;
	z-index: 2;
}
.scroll-arrow {
	width: 24px;
	height: 24px;
	transform: rotate(45deg);
	border-right: 8px solid #d9ded6;
	border-bottom: 8px solid #d9ded6;
	animation: arrow-wave 1s infinite;
	animation-direction: alternate;
}
.scroll-arrow:nth-child(1) {
	animation-delay: 0.1s;
}
.scroll-arrow:nth-child(2) {
	animation-delay: 0.2s;
}
.scroll-arrow:nth-child(3) {
	animation-delay: 0.3s;
}

@keyframes arrow-wave {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 666px) {
	.cercle {
		position: absolute;
		width: 350px;
		height: 350px;
		background: #fffdd0;
		border-radius: 100%;
		z-index: 2;
	}
	.scroll-arrow {
		width: 16px;
		height: 16px;
		transform: rotate(45deg);
		border-right: 8px solid #d9ded6;
		border-bottom: 8px solid #d9ded6;
		animation: arrow-wave 1s infinite;
		animation-direction: alternate;
	}
}

.bg_gradint {
	background: rgb(227, 236, 229);
	background: linear-gradient(
		188deg,
		rgba(227, 236, 229, 1) 0%,
		rgba(16, 16, 124, 0) 100%
	);
}
